    <section class="vbox">
        <header class="dker nav-bar">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="body"> <i
                    class="icon-reorder"></i> </a>
            <a href="#" class="nav-brand" data-toggle="fullscreen">refrew</a>
            <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user"> <i
                    class="icon-comment-alt"></i> </a>
        </header>
        <footer class="footer bg-gradient hidden-xs">
            <a href="modal.lockme.html" data-toggle="ajaxModal"
               class="btn btn-sm btn-link m-r-n-xs pull-right"> <i
                    class="icon-off"></i> </a> <a href="#nav" data-toggle="class:nav-vertical"
                                                  class="btn btn-sm btn-link m-l-n-sm"> <i class="icon-reorder"></i>
        </a>
        </footer>
        <section>
            <div class="lt nav-user hidden-xs pos-rlt">
            </div>

            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    <li class="active">
                        <a href="index.html">
                            <i class="icon-home"></i> <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-group"></i><span>Recruit</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-gift"></i> <span>Rewards</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-linkedin-sign"></i> <span>Login</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </section>