<!DOCTYPE html>
<html lang="en">
<head>
{{include _head}}
<script type="text/javascript">
    var Mod = {};
    function onLinkedInLoad() {
         console.log('LN Load');
    };
  
</script>
<body data-spy="scroll" data-target="#header" class="landing"> <!-- header -->
<header id="header" class="navbar navbar-fixed-top bg-primary dk" data-spy="affix" data-offset-top="1">
    <div class="container">
        <a class="navbar-brand" href="#"><strong>Recruit</strong> Pass</a>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li>
                <div>
                    <a href="#content" class="btn btn-default btn-success m-t m-r">
                    <i class="icon-bolt"></i> Get Started</a>
                </div>
            </li>
            <li>
                <a href="#about">About</a>            
                
            </li>
            <li>
                <a href="#features">Features</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
</header>
<section id="content">
    <div class="bg-primary dk">
        <div class="row m-xl"></div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <div class="row m-xl">
                    <h1 class="animated fadeInLeftBig m-lg">
                        <strong class="text-white">Recruit</strong> 
                        <span class="font-thin">Passive Candidates.</span>
                    </h1>
                    <p class="animated fadeInUpBig">
                        Launch Referral Campaigns to discover candidates
                        not actively looking for job but interested in exploring. <br/>
                        Get to know candidates most likely to be interested 
                        in pursuing new oppurtunities using our intelligent insights.
                    </p>
                </div>
                <div id="signup" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <input id="register-email" type="text" name="email" placeholder="Preferred Name" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <input id="register-email" type="text" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row m-lg">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <a href="#signup" class="btn btn-sm btn-info animated fadeInRight">
                        Get Started</a>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row m-t-lg"></div>
    </div>
    <div id="about">
        <div class="container">
            <p>&nbsp;</p>
            <div class="m-xl"><h2 class="font-thin">About Recruit Pass</h2></div>
            <div class="row m-xl">
                <div class="vendor text-center">
                    <iframe width="480" height="360" src="//www.youtube.com/embed/9dGYft8exXE?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>            
            </div>
        </div>
    </div>
    <div id="features"  class="bg-light">
        <div class="container"><p>&nbsp;</p>
            <div class="m-xl">
                <h2 class="font-thin">Features</h2>
                <p>A brand new chanel to add to your talent acquisiton pipeline</p>
            </div>
            <div class="row">
                <div class="col-sm-4 lt wrapper-xl"><p class="text-center"><span class="icon-stack icon-2x"> 
                <i class="icon-circle icon-stack-base text-success"></i> <i class="icon-lightbulb text-white"></i> </span></p>

                    <div>
                        <h3 class="text-center">Referral Campaigns</h3>
                        <p>Make the most of your existing social network and contacts. Incentivize them to help you discover candidates not actively on the job market.</p>
                    </div>
                </div>
                <div class="col-sm-4 lter wrapper-xl"><p class="text-center"><span class="icon-stack icon-2x"> <i
                        class="icon-circle icon-stack-base text-info"></i> <i class="icon-gbp text-white"></i> </span>
                </p>
                    <div><h3 class="text-center">Integrated Rewards</h3>
                        <p>Rewards are an integral parts of Referral campaigns and the main differentiators for effective successful referral campaigns</p></div>
                </div>
                <div class="col-sm-4 wrapper-xl bg-white"><p class="text-center"><span class="icon-stack icon-2x"> <i
                        class="icon-circle icon-stack-base text-danger"></i> <i
                        class="icon-dashboard text-white"></i> </span></p>
                    <div><h3 class="text-center">Candidate Insights</h3>
                        <p>Our intelligent platform analyses each referral response to your campaign and groups them into categories helping you select the most probable prospects.</p></div>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-sm-4 wrapper-xl dk">
                    <p class="text-center">
                    <span class="icon-stack icon-2x"> 
                        <i class="icon-circle icon-stack-base text-info"></i> 
                        <i class="icon-linkedin text-white"></i> 
                    </span>
                    </p>
                    <div>
                        <h3 class="text-center">LinkedIn Integration</h3>
                        <p>
                        We let you take complete advantage of your existing network. You can connect your LinkedIn profile to leverage your contacts and existing intelligence from your ATS systems.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 wrapper-xl"><p class="text-center"><span class="icon-stack icon-2x"> <i
                        class="icon-circle icon-stack-base text-warning"></i> <i class="icon-list-alt text-white"></i> </span>
                </p>

                    <div><h3 class="text-center">Intelligent Job Pages</h3>
                        <p>Passive candidates dont look for the same thing as Active ones.  
                        Our intelligent Job Pages plaform helps you tailor your vacancy adverts to make it most attractive to passive candidates.</p></div>
                </div>
                <div class="col-sm-4 wrapper-xl dker"><p class="text-center"><span class="icon-stack icon-2x"> <i
                        class="icon-circle icon-stack-base text-primary"></i> <i class="icon-bolt text-white"></i> </span>
                </p>

                <div><h3 class="text-center">Social Adverts</h3>
                        <p>Recruit Pass is specially designed to help make your referral campaigns go viral and get maximum click throughs.</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark clearfix">
        <div class="container text-center m-xl">
            <h2 class="font-thin">Live Preview</h2>
            <p>&nbsp;</p> 
            <a href="#content"><i class="icon-arrow-up"></i><br>Back to top</a>
        </div>
    </div>
</section>

<script src="/javascripts/app.v1.js"></script>
<script src="/javascripts/vendor/jquery.countdown.min.js"></script>
<script type="text/javascript">
  $('#countdown').countdown('2014/03/01', function(event) {
    $('#countdown-days').html(event.strftime('%-D'));
    $('#countdown-minutes').html(event.strftime('%-M'));
    $('#countdown-seconds').html(event.strftime('%-S'));
  });
</script>
</body>
</html>