<!DOCTYPE html>
<html lang="en">
<head>
    {{include _head}}
    <script type="text/javascript">
    var Mod = {};
    function onLinkedInLoad() {
      console.log('Reward : LN Load');
    }
    </script>
</head>
<body>
<section class="hbox stretch"> <!-- .aside -->
    <aside class="bg-success lter aside-sm" id="nav">
    {{include _nav}}
    </aside>
    <section id="content">
        <section class="vbox">
            <header class="header bg-success lter b-b">
                <ul class="nav nav-pills pull-right">
                    <li>
                        <div id="linkedin-logout" style="margin:8px;display:none;">
                            <a href='javascript:linkedinLogout();' class="btn btn-white"><i class="icon-linkedin-sign"></i>Logout</a>
                        </div>
                        <div id="linkedin-signin" style="margin:15px;">
                            <script type="IN/Login"></script>    
                        </div>
                    </li>
                </ul>
                <p>Launch Reward Campaigns. Boost Sales.</p>
            </header>
            <section class="scrollable wrapper">
                <div class="row">
                    <div class="col-lg-6">
                       <div class="panel-group m-b" id="accordion2">
                          <div class="panel">
                             <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Reward Details</a>
                             </div>
                             <div id="collapseOne" class="panel-collapse">
                                <div class="panel-body text-sm">
                                    <p>{{=campaignName}}</p>
                                    <p>Start Date - {{=campaignStart}}</p>
                                    <p>End Date - {{=campaignEnd}}</p>
                                </div>
                             </div>
                          </div>
                          <div class="panel">
                            <div class="carousel slide auto panel-body" id="c-slide">
                               <ol class="carousel-indicators out">
                                {{images.forEach(function(img,index){}}
                                    {{if (index == 0) { }}
                                        <li data-target="#c-slide" data-slide-to="{{=index}}" class="active"></li>
                                    {{ }else{ }}
                                        <li data-target="#c-slide" data-slide-to="{{=index}}" class=""></li>
                                    {{ } }}
                                {{ }); }}
                               </ol>
                               <div class="carousel-inner">
                               {{images.forEach(function(img,index){}}
                                {{if (index == 0) { }}
                                    <div class="item active">
                                {{ }else{ }}
                                    <div class="item">
                                {{ } }}
                                    <p class="text-center">
                                         <img src={{=img.thumbnailUrl}}>
                                     </p>
                                  </div>
                                {{ }); }}
                                </div>
                               <a class="left carousel-control" href="#c-slide" data-slide="prev"> <i class="icon-angle-left"></i> </a> 
                               <a class="right carousel-control" href="#c-slide" data-slide="next"> <i class="icon-angle-right"></i> </a> 
                            </div>
                          </div>
                          <div class="panel">
                             <div class="panel-heading">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Voucher Details</a> </div>
                             <div id="collapseThree" class="panel-collapse">
                                <ul class="list-group alt">
                                {{vcodes.forEach(function(vcode,index){}}
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm">
                                            <h4 class="text-success text-center">{{=vcode.denomination}}</h4>
                                        </span>
                                        <div class="pull-right text-success m-t-sm">
                                            <button class="btn btn-white" data-toggle="button"> 
                                                <i class="icon-shopping-cart text"></i> 
                                                <i class="icon-heart text-active text-danger"></i> 
                                            </button>
                                        </div>
                                        <div class="media-body m-t-sm"> 
                                            <div></div> 
                                        </div> 
                                    </div>
                                </li>
                                {{});}}                                
                                </ul>
                             </div>
                          </div>
                       </div>
                    </div><!--col-lg-16-->
                    <div class="col-lg-6">
                    <section class="panel clearfix bg-light lter"> <div class="panel-body"> <a href="#" class="thumb pull-left m-r"> <img src="/images/avatar.jpg" class="img-circle"> </a> <div class="clear"> <a href="#" class="text-info">@Mike Mcalidek <i class="icon-twitter"></i></a> <small class="block text-muted">2,415 followers / 225 tweets</small> <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a> </div> </div> </section>
                    </div> <!--col-lg-16-->
                </div><!-- row -->
            </section>
        </section>
    </section>
</section>
<script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
</body>
</html>